

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: 0;
}
body{
    background: #fff;
    color:  #312E38;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
  }

  .container  {
    display: flex;
    flex-direction: row;
    color: honeydew;
}

.menucontainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100vh;
  width: 140px;
  background-color: #636160;

  
}


.menu a{ 
    text-decoration: none;
    color: aliceblue;
    padding: 1.5px;

}



.image img{
    margin-left: 50%;
    max-width:1024px;
    max-height:720px;
    width: auto;
    height: auto;
    align-items: center;
}
  
